<!DOCTYPE html>
<html>
<head>
    <title>Medusa News Documentation</title>
    <meta charset="utf-8"/>
    <script async src="//unpkg.com/swagger-ui-dist@3.52.5/swagger-ui-bundle.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="//unpkg.com/swagger-ui-dist@3/swagger-ui.css"/>

</head>
<body>
<div id="swagger-ui"></div>

<script>
    window.onload = function () {
        const ui = SwaggerUIBundle({
            url: "{% url schema_url %}",
            dom_id: '#swagger-ui',
            presets: [
                SwaggerUIBundle.presets.apis,
                SwaggerUIBundle.SwaggerUIStandalonePreset
            ],
            layout: "BaseLayout"
        })
    }
</script>
</body>
</html>